POSTGRES_USER=username
POSTGRES_DB=db
POSTGRES_PASSWORD=password

MQTT_PUBLISHER_PASSWORD=password
MQTT_INGEST_PASSWORD=password
MQTT_DJANGO_PASSWORD=password

DJANGO_SUPERUSER_USERNAME=username
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_EMAIL=username@example.com

MQTT_TLS_CA=/path/to/certs/ca.crt