#env files
.env

#certificates for security
certs/*.key
certs/*.crt
certs/*.csr
certs/*.srl

#mosquitto password
mosquitto/config/passwd

#python cache
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
*.log


# vscode and os metadata
.vscode/
.DS_Store